# Dependencies
node_modules
.pnpm-store

# Production build artifacts
dist
.output

# Local Netlify & Vite caches
.netlify
.vite

# Environment variables
.env
.env.local
.env.*.local

# OS files
.DS_Store
Thumbs.db
